<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="js/mui.min.js"></script>
    <link href="../css/mui.css" rel="stylesheet"/>
	<link href="http://at.alicdn.com/t/font_1578444_g4f03wimrro.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<script type="text/javascript">
	
</script>
<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">这是一个咨讯页面！</h1>
	</header>
	
	
	<!--底部-->
	<nav class="mui-bar mui-bar-tab">
		<a class="mui-tab-item" href="../index.html">
			<div class="iconfont icon-dianying"></div>
			<div class="mui-tab-label">电影</div>
		</a>
		<a class="mui-tab-item mui-active">
			<div class="iconfont icon-zixun"></div>
			<div class="mui-tab-label">咨讯</div>
		</a>
		<a class="mui-tab-item" href="yingyuan.html">
			<div class="iconfont icon-cinema"></div>
			<div class="mui-tab-label">影院</div>
		</a>
		<a class="mui-tab-item" href="my.html">
			<div class="iconfont icon-wodexuanzhong"></div>
			<div class="mui-tab-label">我的</div>
		</a>
	</nav>
</body>
	<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			// mui中屏蔽了点击事件，下面的代码表示不让它屏蔽点击事件
			mui("body").on("tap","a",function(){
				document.location.href = this.href;
			})
		</script>
</html>